<footer class="p-5 container-fluid bg-dark text-white fw-bold">
    <div class="row">
        <div class="col-12 col-md-3 text-end">
            <h3> Hotel Lapland Zone </h3>
            <h3> Lorem | Ipsum | Lorem</h3>
        </div>
        <div class="col-12 col-md-6 text-end align-self-center">
            <h3> Come and visit us, you will enjoy it from the first day.</h3>
            <a href="">
                <i class="bi bi-instagram fs-2 text-white me-2"></i>
            </a>
            <a href="">
                <i class="bi bi-whatsapp fs-2 text-white me-2"></i>
            </a>
            <a href="">
                <i class="bi bi-facebook fs-2 text-white me-2"></i>
            </a>
        </div>
    </div>
</footer>