<div class="container my-5" id="reservation">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Please look the reservations </h2>
        </div>
        <hr>
    </div> 
<div class="col my-3">
<table class="table table-hover mt-5 mb-5">
  <thead>
    <tr>
      <th scope="col">Number reservation</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Starting date</th>
      <th scope="col">Ending date</th>
      <th scope="col" class="text-center">How many are going? </th>
      <th scope="col"> Cost </th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let reserva of test; let iControl = index">
    <td class="text-center"> {{iControl}} </td>
    <td> {{reserva.nombre}} </td>
    <td> {{reserva.apellido}} </td>
    <td> {{reserva.telefono}} </td>
    <td> {{reserva.fechaInicio | date:'yyyy-MM-dd'}} </td>
    <td> {{reserva.fechaFinal  | date:'yyyy-MM-dd'}} </td>
    <td class="text-center"> {{reserva.numeroPersonas}} </td>
    <td> {{reserva.costoReserva}} </td>
    </tr>
  </tbody>
</table>
</div>