
.banner2{
    background-image: url("../../assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 21%;
}

.zoom{
  transition: transform .6s;
}

.zoom:hover {
transform: scale(.9);
}

.banner::after{
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.subtitle{
letter-spacing: 3px;
font-size: 2.5rem;
font-weight: bold;
  background: linear-gradient(-45deg, #4aff08, #ff8d6d, #fff2ee, #2579ff, #60d9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
