
.banner2{
    background-image: url("../../assets/img/nangu_rooms15.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(0.9);
}

.banner::after{
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
