
.banner2{
    background-image: url("../../assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
     width: 100%;
    background-attachment: fixed;
    padding: 20%;
}

.zoom{
  transition: transform .6s;
}

.zoom:hover {
transform: scale(.9);
}


.subtitle{
letter-spacing: 3px;
font-size: 2.5rem;
font-weight: bold;
  background: linear-gradient(-45deg, #4aff08, #ff8d6d, #fff2ee, #2579ff, #60d9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */
 .banner2 {
    padding: 10%; 
    object-fit: contain;
    image-rendering:optimizeQuality;
  }
}
