<section class="container-fluid my-5" id="home">
    <div class="row">
        <!--<img src="../../assets/img/00078F.png" alt="logo" class="img-fluid" style="width: 200px; height: 150px;">-->
        <div class="col-12 col-md-4 p-5 text-center align-self-center">
            <h2> Ratings </h2>
            <p class="text-start mt-4"> Hotel Service </p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
            <p class="text-start mt-4"> Hotel Installations </p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 80%">80%</div>
              </div>
            <p class="text-start mt-4"> Facilities </p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
            <p class="text-start mt-4"> Employees treatment </p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 85%">85%</div>
              </div>
            <p class="text-start mt-4"> Food and Drinks </p>
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: 100%">100%</div>
              </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="row"> 
                <h2 class="my-2 subtitle"> Lapland Zone </h2> 
                <h4 class="my-3"> Discover the fascination of Lapland, Finland's hidden gem, at our exquisite hotel nestled in the heart of this winter wonderland! Immerse yourself in the captivating dance of the Northern Lights, a heaven spectacle that graces the Lapland skies.</h4>
            </div>
            <div class="row">
                <div class="col-12 col-md-6"><img src="../../assets/img/nangu_rooms13.jpg" class="img-fluid w-100 h-100 shadow zoom"></div>
                <div class="col-12 col-md-6"><img src="../../assets/img/nangu_rooms12.jpg" class="img-fluid w-100 h-100 shadow zoom"></div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6"><img src="../../assets/img/nangu_rooms11.jpg" class="img-fluid w-100 h-100 shadow zoom"></div>
                <div class="col-12 col-md-6"><img src="../../assets/img/nangu_rooms14.jpg" class="img-fluid w-100 h-100 shadow zoom"></div>
            </div>
    </div>
</div >
</section>
<section class="banner2">
</section>
