.banner{
    background-image: url("../../assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content:'';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
    
.title {
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #fcfcfc, #00ff72, #00cc0a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
