<app-menu></app-menu>
<!--Titulo hecho en el home -->

<div class="banner text-white">
    <div class="p-5 text-white fw-bold text-center">
        <h1 class="title">| Hotel Lapland Zone | Finland</h1>
    </div>
</div>

<!-- LLamando al componente Descripcion -->

<app-descripcion></app-descripcion>

<!-- LLamando al componente Rooms -->

<app-rooms></app-rooms>

<!-- LLamando al componente reservas -->

<app-reservas></app-reservas>

<!-- LLamando al componente Footer -->

<app-footer></app-footer>
