body {
  scroll-behavior: smooth;
}

.banner{
    background-image: url("../../assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content:'';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
    
.animated-title {
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, #87ff5b, #fad0c4, #fad0c4, #a1c4fd, #a1c4fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 1.2s ease-in-out ;
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
    scale: 1.8;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}