.banner{
    background-image: url("../../assets/img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content:'';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
    
.animated-title {
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: bold;
  animation-name: title-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}

@keyframes title-animation {
  0% {
    /* Initial state */
    transform: scale(1);
    color: #0a3bb8;
  }
  50% {
    /* Intermediate state */
    transform: scale(1.5);
    color: #1df3d6; /* Replace with the desired blue color */
  }
  100% {
    /* Final state */
    transform: scale(1);
    color: initial;
  }
}
