<app-menu></app-menu>
<!--Titulo hecho en el home -->

<div class="banner-video text-white">
<iframe width="560" height="315" src="https://www.youtube.com/embed/F3UAgX2HkGQ?loop=1&playlist=F3UAgX2HkGQ&autoplay=1&controls=0&start=304&end=326&mute=1&modestbranding=0&vq=hd1080" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    <div class="p-5 text-white fw-bold text-center">
        <h1 class="title"> HOTEL  LAPLAND  ZONE </h1>
    </div>
</div>

<!-- LLamando al componente Descripcion -->

<app-descripcion></app-descripcion>

<!-- LLamando al componente Rooms -->

<app-rooms></app-rooms>

<!-- LLamando al componente reservas -->

<app-reservas></app-reservas>

<!-- LLamando al componente Footer -->

<app-footer></app-footer>

