.zoom{
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(0.9);
}

.image-container {
  position: relative;
}

.image-title {
  position: absolute;
  bottom: 175px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0.7, 0.7, 0.7);
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 16px;
}


.card {
border-radius: 25px;
box-shadow: inset 28px 28px 56px #c3c3c3,
            inset -28px -28px 56px #fdfdfd;
}


.custom-modal {
   align-items: center;  
  width: 800px; /* Ajusta el ancho máximo del modal */
  margin: 5; /* Centra el modal horizontalmente */
}

.custom-modal .modal-dialog {
 
  max-height: 550px; /* Ajusta la altura máxima del modal */
  height: 50%; /* Ajusta la altura del modal */
}

.subtitle{
letter-spacing: 3px;
font-size: 2.5rem;
font-weight: bold;
  background: linear-gradient(-45deg, #4aff08, #ff8a6a, #ff7044, #2579ff, #60d9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}